{% extends 'layout.html' %}
{% from "helpers/_forms.html" import render_field %}

{% block container %}
	<div class="card container-fluid" style="background-color: rgb(f, f, f); width: 30rem;">
		 <img class="card-img-top" src="{{url_for('static',filename='img/post_ca.jpg')}}" alt="POST, C.A.">
		<div class="card-body" style="background-color: rgb(f, f, f);">
			<h3>Login</h3>
			<form class=""  method="post">
				<input type="hidden" name="csrf_token" value="{{csrf_token()}}"\>
				<div class="form-group">
					 {{ render_field(form.username, class='form-control',placeholder='Indique Nombre') }}
				</div>
				
				<div class="form-group">
					{{ render_field(form.password, class='form-control',placeholder='Indique su clave') }}
				</div>	
				<button class="btn btn-outline-primary btn-sm" type="submit" name="button">
					<i class="fas fa-sign-in-alt"></i> Login
				</button>		
			</form>
		</div>
	</div>
{% endblock %}