{% extends 'layout.html' %}
{% from "helpers/_forms.html" import render_field %}

{% block container %}
	<div class="col-md-12 col-md-offset-1">
		<h3>New Task</h3>
		<form class=""  method="post">
			<input type="hidden" name="csrf_token" value="{{csrf_token()}}"\>
			<div class="form-group">
				 {{ render_field(form.title, class='form-control',placeholder='Indique un Título') }}
			</div>
			<div class="form-group">
				{{ render_field(form.description, class='form-control',placeholder='Indique una Descripción') }}
			</div>	
			<button class="btn btn-outline-primary btn-sm" type="submit" name="button">
				<i class="fa fa-save" aria-hidden="true"></i> Create Task
			</button>		
		</form>
	</div>
{% endblock %}