{% extends 'bootstrap/base.html' %}
<!-- Este Herencia de bootstrap trae tres(3) Bloques ya definidos a saber -->

{% block title %}
	{{title}}
{% endblock %}

{% block navbar %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">
			<a class="navbar-brand" href="#"></a>
			<div>
				<ul class="navbar-nav ml-auto">
					{% if current_user.is_authenticated %}
						<li class="nav-item {% if active == 'tasks' %} active {% endif %}">
							<a class="nav-link" href="{{ url_for('.tasks') }}"><i class="far fa-list-alt"></i> Task-List</a>
						</li>
						<li class="nav-item {% if active == 'new_task' %} active {% endif %}">
							<a class="nav-link" href="{{ url_for('.new_task') }}"><i class="fa fa-file" aria-hidden="true"></i> New_Task</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('.logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a>
						</li>
					{% else %}
						<li class="nav-item {% if active == 'login' %} active {% endif %}">
							<a class="nav-link" href="{{ url_for('.login') }}"><i class="fas fa-sign-in-alt"></i> Login</a>
						</li>					
						<li class="nav-item {% if active == 'register' %} active {% endif %}">
							<a class="nav-link" href="{{ url_for('.register') }}"><i class="fas fa-clipboard-list"></i> Register</a>
						</li>	
					{% endif %}									
				</ul>
			</div>
			
		</div>
	</nav>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">	
		<div class="col-md-12 col-md-offset-1">
			{% with messages = get_flashed_messages(with_categories=True) %}
			{% if messages %}
				{% for category, message in messages %}
					{% if category == 'error' %}
						<div class="alert alert-danger" role="alert">
							{{ message }}
						</div>
					{% else %}
						<div class="alert alert-success" role="alert">
							{{ message }}
						</div>	
					{% endif %}	
				{% endfor %}
			{% endif %}
			{% endwith %}			
		</div>		
			{% block container %}
			{% endblock %}
		</div>
	</div>
{% endblock %}